.row
  .input-field.col.s12
    %input#datetime.validate.datepicker{type: "date", placeholder: t('helpers.datetime'), value: Date.yesterday.strftime('%Y/%m/%d')}/

#ArrDep{style: "min-width: 310px; height: 400px; margin: 0 auto"}
