#main-menu{:role => "navigation"}
  #main-menu-inner
    %ul.navigation
      %li
        = link_to dashboard_path do
          %i.menu-icon.fa.fa-dashboard
          %span.mm-text= t('dashboard')
      -# %li
      -#   = link_to root_path do
      -#     %i.menu-icon.fa.fa-edit.fa-fw
      -#     %span.mm-text= t('search')

