%nav{:role => "navigation"}
  .nav-wrapper.container
    = link_to t('title'), root_path, id: 'logo-container', class: 'brand-logo'
    %ul.right.hide-on-med-and-down
      %li
        -# = link_to searchs_path do
          -# %i.material-icons search
    %ul#nav-mobile.side-nav{:style => "left: -250px;"}
      %li
        %a{:href => "#"}= t('search')
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons menu
